@tailwind base;
@tailwind components;
@tailwind utilities;
html , body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
.custom-img {
    background-image: url('https://images.pexels.com/photos/594226/pexels-photo-594226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}